[user]
  name = Bubu-Droid
  email = fufudadw@gmail.com
  signingkey = /home/bubu/.ssh/id_ed25519.pub
[core]
  excludesfile = /home/bubu/.gitignore-global
[init]
  defaultBranch = main
[credential]
  helper = cache
[gpg]
  format = ssh
[commit]
  gpgsign = true
