snippet shebang "Shebang" b
#!/usr/bin/env bash
endsnippet

snippet cpp "Build code for cpp project" b
#!/usr/bin/env bash

cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Debug -B build && cmake --build build
endsnippet
